.chap1 {
    background-color:#1c4587ff !important;
    color:white;
}

.chap1 h1{
    font-size:2em;
    font-weight: bold;
}

.chap1 .citation {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    color:#e06666;
}

.chap2 {
    background-color:#fff2cc!important;
    color:black
}

.chap2 .citation {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    color:#000000;
    line-height:35px;
}

.author {
    font-size: 1.2em;
    color:#e06666;
}

.blanc {
    color:white;
}

.p20{
    margin:auto 20px;
    line-height:40px;
}

.a-img-txt{
    display:grid; 
}
.a-img-txt li{
    list-style: none;
}  
/* les enfants se superposent */
.a-img-txt>*{
    grid-area:1/1/-1/-1; 
    /* raccourci pour grid-row et grid-column */
}
.a-img{
    filter:invert(0);
}
/* le texte */
.a-txt{
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    opacity:0;
    filter:invert(0); /* antibug si effet sur a-img */
    transition:opacity .8s;
    bottom:0px;
}
/* le survol */
.a-txt:hover{
    opacity:1;
}
.a-img-txt:hover .a-img{
    opacity: 0.25;
}

.scrollLateral {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 400px;
    max-height: 80%;
    margin-bottom: 50px; }
    @media (min-width: 992px) {
      .scrollLateral {
        position: relative;
        height: 100%;
        overflow: hidden; } }
    .scrollLateral__content {
      height: 100%;
      max-height: 100%;
      min-width: 768px;
      display: inline-block; }
      @media (min-width: 992px) {
        .scrollLateral__content {
          position: absolute;
          display: block; } }
      .scrollLateral__content.fixed {
        position: fixed; }
      .scrollLateral__content.absbottom {
        bottom: 0; }
    .scrollLateral__resizable {
      height: 100%;
      max-width: 10000px;
      width: auto;
      /*min-width:100%;*/
      display: inline-block; }

.mt20 {
    margin-top: 20px;
}

.incline {
    transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -khtml-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    background-color:#1c4587;
    color: white;
    font-weight: bold;
    font-size:1.5em;
    width: 220px;
    padding:5px;
    position:absolute;
    top:30px;
}