body {
    text-align: justify;
}
h1{
    font-size:2em;
    font-weight: bold;
}

.chap1 {
    background-color:#1c4587ff !important;
    color:white;
}
.chap1 .citation {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    color:#e06666;
    line-height:40px;
    text-align:center;
}
.chap1 .author {
    color:#e06666;
}

.chap2 {
    background-color:#fff2cc!important;
    color:black
}
.chap2 .citation {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    color:#000000;
    line-height:40px;
    text-align:center;
}
.chap2 .author {
    color:#000000;
}

.chap3 {
    background-color:#eeeeee !important;
    color:black;
}

.blanc {
    color:white !important;
}

.noir {
    color: black !important;
}

.a-img-txt{
    display:grid; 
    font-size:2em;
    line-height:30px;
}
.a-img-txt li{
    list-style: none;
}  
/* les enfants se superposent */
.a-img-txt>*{
    grid-area:1/1/-1/-1; 
    /* raccourci pour grid-row et grid-column */
}
.a-img{
    filter:invert(0);
}
/* le texte */
.a-txt{
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    opacity:0;
    filter:invert(0); /* antibug si effet sur a-img */
    transition:opacity .8s;
    bottom:0px;
}
/* le survol */
.a-txt:hover{
    opacity:1;
}
.a-img-txt:hover .a-img{
    opacity: 0.25;
}

.scrollLateral {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 400px;
    max-height: 80%;
    margin-bottom: 50px; 
}
@media (min-width: 992px) {
    .scrollLateral {
        position: relative;
        height: 100%;
        overflow: hidden; 
    } 
}
.scrollLateral__content {
    height: 100%;
    max-height: 100%;
    min-width: 768px;
    display: inline-block; 
}
      
@media (min-width: 992px) {
    .scrollLateral__content {
        position: absolute;
        display: block; 
    } 
}
.scrollLateral__content.fixed {
    position: fixed; 
}
.scrollLateral__content.absbottom {
    bottom: 0; 
}
.scrollLateral__resizable {
    height: 100%;
    max-width: 10000px;
    width: auto;
    /*min-width:100%;*/
    display: inline-block; 
}

.mt20 {
    margin-top: 20px;
}

.incline {
    transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -khtml-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    background-color:#1c4587;
    color: white;
    font-weight: bold;
    font-size:1.5em;
    width: 220px;
    padding:5px;
    position:absolute;
    top:30px;
}

.container {
    position: relative;
 }

.lieu-photo {
    background-color:#4285f4;
    color: white;
    font-size: 4em;
    font-weight: bold;
    position:absolute;
    bottom: 0px;
    left: 0px;
    padding:10px;
    float:left;
    line-height:100px;
}

#citation-ntamack {
    background-color:none;
    color: white;
    font-size: 4em;
    font-weight: bold;
    position:absolute;
    top: 50px;
    right: 20px;
    padding:10px;
    float:right;
    line-height:100px;
}

.gros-titre {
    font-size: 4em;
    line-height:100px;
    text-align:center;
}

.exergue {
    border-radius:40px;
    background-color: #4a86e8ff;
    padding: 10px;
    text-align:center;
}

.jaune {
    padding:20px;
    background-color: #ffff00;
    color: black;
}

.w-col {
    position:relative;
}

.legende-droite-haut {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity:0.45;
    padding: 25px 40px;
    color: #000000;
    font-weight: 900;
    width:33%;
}

.legende-droite-bas {
    float: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity:0.45;
    padding: 25px 40px;
    color: #000000;
    font-weight: 900;
    width:33%;
}

.legende-gauche-haut {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity:0.45;
    padding: 25px 40px;
    color: #000000;
    font-weight: 900;
    width:33%;
}

.legende-gauche-bas {
    float: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity:0.45;
    padding: 25px 40px;
    color: #000000;
    font-weight: 900;
    width:33%;
}