body {
    text-align: justify;
}
h1{
    font-size:2em;
    font-weight: bold;
}

.chap1 {
    background-color:#1c4587ff !important;
    color:white;
}
.chap1 .citation {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    color:#e06666;
    line-height:40px;
    text-align:center;
}
.chap1 .author {
    color:#e06666;
}

.chap2 {
    background-color:#fff2cc!important;
    color:black
}
.chap2 .citation {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    color:#000000;
    line-height:40px;
    text-align:center;
}
.chap2 .author {
    color:#000000;
}

.chap3 {
    background-color:#eeeeee !important;
    color:black;
}

.blanc {
    color:white !important;
}

.noir {
    color: black !important;
}

.a-img-txt{
    display:grid; 
    font-size:2em;
    line-height:30px;
}
.a-img-txt img {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    background: white;
 }
.a-img-txt li{
    list-style: none;
}  
/* les enfants se superposent */
.a-img-txt>*{
    grid-area:1/1/-1/-1; 
    /* raccourci pour grid-row et grid-column */
}
.a-img{
    filter:invert(0);
}
/* le texte */
.a-txt{
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    opacity:0;
    filter:invert(0); /* antibug si effet sur a-img */
    transition:opacity .8s;
    bottom:0px;
}
/* le survol */
.a-txt:hover{
    opacity:1;
}
.a-img-txt:hover .a-img{
    opacity: 0.25;
}

.scrollLateral {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 400px;
    max-height: 80%;
    margin-bottom: 50px; 
}
@media (min-width: 992px) {
    .scrollLateral {
        position: relative;
        height: 100%;
        overflow: hidden; 
    } 
}
.scrollLateral__content {
    height: 100%;
    max-height: 100%;
    min-width: 768px;
    display: inline-block; 
}
      
@media (min-width: 992px) {
    .scrollLateral__content {
        position: absolute;
        display: block; 
    } 
}
.scrollLateral__content.fixed {
    position: fixed; 
}
.scrollLateral__content.absbottom {
    bottom: 0; 
}
.scrollLateral__resizable {
    height: 100%;
    max-width: 10000px;
    width: auto;
    /*min-width:100%;*/
    display: inline-block; 
}

.mt20 {
    margin-top: 20px;
}

.incline {
    transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -khtml-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    background-color:#1c4587;
    color: white;
    font-weight: bold;
    font-size:1.5em;
    width: 220px;
    padding:5px;
    position:absolute;
    top:30px;
}

.container {
    position: relative;
 }

.lieu-photo {
    background-color:#4285f4;
    color: white;
    font-size: 4em;
    font-weight: bold;
    position:absolute;
    bottom: 0px;
    left: 0px;
    padding:10px;
    float:left;
    line-height:100px;
}

#citation-ntamack {
    background-color:none;
    color: white;
    font-size: 4em;
    font-weight: bold;
    position:absolute;
    top: 50px;
    right: 20px;
    padding:10px;
    float:right;
    line-height:100px;
}

.gros-titre {
    font-size: 4em;
    line-height:100px;
    text-align:center;
}

.exergue {
    border-radius:40px;
    background-color: #4a86e8ff;
    padding: 10px;
    text-align:center;
}

.jaune {
    padding:20px;
    background-color: #ffff00;
    color: black;
}

.w-col {
    position:relative;
}

.legende-droite-haut {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity:0.45;
    padding: 25px 40px;
    color: #000000;
    font-weight: 900;
    width:33%;
}

.legende-droite-bas {
    float: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity:0.45;
    padding: 25px 40px;
    color: #000000;
    font-weight: 900;
    width:33%;
}

.legende-gauche-haut {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity:0.45;
    padding: 25px 40px;
    color: #000000;
    font-weight: 900;
    width:33%;
}

.legende-gauche-bas {
    float: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity:0.45;
    padding: 25px 40px;
    color: #000000;
    font-weight: 900;
    width:33%;
}

.legende-justifie {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity:0.45;
    padding: 20px;
    color: #000000;
    font-weight: 900;
    width:100%;
}

.view {
    width:270px;
    height: 370px;
    float: left;
    border: 0px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: white ;
}

.view-tenth img {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    background: white;
 }

 .view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color:#000000;
 }
 .view-tenth h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    color: #333;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
 }
 .view-tenth p {
    color: #333;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
 }
 .view-tenth a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
 }
 .view-tenth:hover img {
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
 }
 .view-tenth:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
 }
 .view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
 }
 .view {
    width: 300px;
    height: 400px;
    margin: 10px;
    float: left;
    border: 1px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center;
 }
 .view .mask,.view .content {
    width: 300px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
 }
 .view img {
    display: block;
    position: relative;
 }
 .view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
 }
 .view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #000000;
    padding: 10px 20px 20px;
    text-align: center;
 }
 .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
 }
 .view a.info: hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
 }
