@media (max-width: 1366px) {
    .texte-bas-droite {
        position: absolute;
        bottom: 14%;
        right: 2%;
        width: 22%;
    }

    .colparagraph {
        padding: 5px;
        line-height: 25px;
        text-align: justify;
        margin-bottom: 0px;
    }

    .legende-droite-bas {
        float: right;
        position: absolute;
        right: 10px;
        bottom: 0px;
        z-index: 1000;
        background-color: #FFFFFF;
        opacity: 0.45;
        padding: 10px 5px;
        color: #000000;
        font-weight: 900;
        width: 50%;
    }

    .legende-gauche-haut {
        float: left;
        position: absolute;
        left: 10px;
        top: 0px;
        z-index: 1000;
        background-color: #FFFFFF;
        opacity: 0.45;
        padding: 10px 5px;
        color: #000000;
        font-weight: 900;
        width: 45%;
    }
    .legende-droite-haut {
        float: right;
        position: absolute;
        right: 10px;
        top: 0px;
        z-index: 1000;
        background-color: #FFFFFF;
        opacity: 0.45;
        padding: 10px 5px;
        color: #000000;
        font-weight: 900;
        width: 40%;
    }

    .texte-etranger {
        position: absolute;
        top: 28%;
        width: 42%;
        text-align: justify;
    }

    .texte-etranger .citation {
        font-style: italic;
    }

    .texte-etranger .colparagraph {
        font-size: 14px;
        line-height: 25px;
        text-align: justify;
    }

    #carousel-legende {
        margin: 20px 20px 10px;
        text-align: center;
    }

    .mt-50r {
        margin-top: 50px;
    }

    .mt-520r {
        margin-top: 520px;
    }

    #spacer {
        height:100px !important;
    }
}
